<ul class="nav justify-content-end">

  <li> 
        <a href="/"><img src="/public/images/" alt="" srcset=""></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Que hacemos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Nuestro Equipo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Proyectos</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#">Tecnologia</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contactanos</a>
  </li>

</ul>