
<div id="help">
<form action="/help" method="post">

<label for="select">Select area:</label>
<select>
  <option value="frontEnd">Forntend</option>
  <option value="backEnd">Backend</option>
  <option value="design">Design</option>
  <option value="server">Server</option>
</select>

<input class="btn btn-primary" type="submit" value="Submit">

<textarea name="description" id="" cols="30" rows="10"></textarea>
</form>
</div>