

<div class="container" id="contInd1">

        <div id="text1">
            <h2>We are here to make your ideas real.</h2>
            <img src="/public/images/689ae0f75501e3edb6f5804edab14510.png" alt="">
        </div>
        

        <div id="login">
            <span>Log In or</span>
        
    <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Sign Up
            </button>

            <form method="POST" action="/login">
                <label for="email">Email:</label>
                <br><br>
                <input type="email" name="email" placeholder="dream@now.com" id="">
                <br><br>
                <label for="password">Password:</label>
                <br><br>
                <input type="password" name="password" id="">
            </form>
        </div>


  
</div>


<div class="container" id="container2">
    <form action="/new-project" method="post">
    </form>
</div>




<!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
             <form method="post"  action="/signup">

   
             </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
        </div>
    </div>
    </div>