

<div class="jumbotron jumbotron-fluid" id="contInd1">

        <div class="spaceText">
            <h2>We are here to make your ideas come to life.</h2>
            <br><br>
            <i class="fas fa-rocket fa-10x"></i>
        </div>

        <div class="spaceLog">
        
        <div id="login">
            <span>Log In or <a  data-toggle="modal" data-target="#exampleModalCenter" href="">Sign Up</a></span>
           
            <br>
            <form method="POST" action="/login">
                <label for="email">Email:</label>
                <br>
                <input type="email" name="email" placeholder="dream@now.com" >
                <br><br>
                <label for="password">Password:</label>
                <br>
                <input placeholder="***********" type="password" name="password" >
                <br><br>
                <input type="submit"  class="btn btn-primary" value="Log In">
                <a href="/auth/linkedin"> <button type="button"  class="btn btn-primary"><i class="fab fa-linkedin fa-lg"></i></i></button></a>
                <a href="/auth/google"> <button type="button"  class="btn btn-primary"><i class="fab fa-google-plus-square fa-lg"></i></button></a> 
            </form>
        </div>  

        </div>
 
</div>


<div class="jumbotron jumbotron-fluid" id="contInd2" >
       <div class="spaceText">
           <h2>Startup your idea!</h2>
           <br>
           <i class="fas fa-lightbulb fa-10x"></i>
           <br>
           <p><a href="#submiting">
            <a class="btn btn-primary" data-toggle="collapse"  href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Submit a project
             </a>
             </a>
            </p>
             <a name="goala"></a>
        </div>
        <div class="spaceLog">
           
        </div>
</div>


<div class="collapse" id="collapseExample">
    <div class="jumbotron jumbotron-fluid" id="contInd3" >

       <div class="spaceText">
        <h2>Submit a project:</h2>
        
         <form action="#" method="post">
        
         <label for="blog">Blog:</label>
         <br>
         <input type="checkbox" name="blog" id="">
         <br>

          <label for="ecommerce">Ecomerce:</label>
          <br>
         <input type="checkbox" name="ecommerce" id="">
         <br>

          <label for="info">Informative page:</label>
          <br>
         <input type="checkbox" name="info" id="">
         <br>

          <label for="app">App:</label>
          <br>
         <input type="checkbox" name="app" id="">
         <br> 

         <label for="email">Email:</label>
         <br>
         <input type="email" name="email" placeholder="letsdoit@now.com" id="">
        <br>
        <br><br>
        <input type="submit"  class="btn btn-primary" value="Submit">
         </form>
          <a name="submiting"></a>

        </div>
         
        <div class="spaceLog">
             
        </div>
    </div>
</div>



<div class="jumbotron jumbotron-fluid" id="contInd4" >
       <div class="spaceText">
          
             
         
           
           <h2>Our Goal</h2>
           <br>
           <h3>We want to help you bring your ideas to life. </h3>
           <h3>Only worry about the things you love.</h3>
           
           <img src="/images/lite-app-version.png" alt="">
           <a name="aboutus"></a>
           <br>
            

  
        </div>
        <div class="spaceLog">
             
        </div>
</div>

<div class="jumbotron jumbotron-fluid" id="contInd5" >
       <div class="spaceText">
            
             
             
           
           <h2>About Us</h2>
           <br>
           <div class="perfiles">
               <div class="perfil" id="beto">
                    <h3>Alberto Zonana </h3>
                    <h4>CEO & Founder</h4>
                    <img src="/images/Yo.JPG" alt="">
               </div>
                   <div class="perfil" id="hugo">
                    <h3>Hugo Gutierrez </h3>
                    <h4>CFO & Founder</h4>
                    <img src="/images/hugo.JPG" alt="">
               </div>
                   <div class="perfil" id="Diego">
                    <h3>Diego Vasquez</h3>
                    <h4>CTO & Founder</h4>
                    <img src="/images/Diego.JPG" alt="">
               </div>
           </div>

           <br>

  
        </div>
        <div class="spaceLog">
            <a name="projects"></a>
        </div>
</div>


<div class="jumbotron jumbotron-fluid" id="contInd6" >
       <div class="spaceText">
             
              
        
          <h2>Projects</h2>
           <br>

           
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img class="d-block w-100" src="/images/960x960_1482415624585bde08ce66e8.88444216airbnb+app+FINAL2.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>AirBnB</h5>
                        <p>Yes, we created AirBnB...</p>
                    </div>   
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-100" src="/images/Facebook-subir-fotos-HD-actualizacion-app-700x500.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Facebook</h5>
                        <p>Yes, we created Facebook...</p>
                    </div>   
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-100" src="/images/UberAppBlogPic.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Uber</h5>
                        <p>Yes, we created uber...</p>
                    </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                 
            </div>
<a name="tech"></a>
  
        </div>
        <div class="spaceLog">
               
        </div>
</div>

<div class="jumbotron jumbotron-fluid" id="contInd7" >
       <div class="spaceText">
          
               
         
           
           <h2>Technology</h2>
           <br>
           <h3>We are MEAN Stack developers.</h3>
           <h3>If we don't have the tools we create them.</h3>
           <img src="/images/mean-stack.png" alt="">
           <br>

  
        </div>
        <div class="spaceLog">

        </div>
</div>

<div class="jumbotron jumbotron-fluid" id="contInd8" >
       <div class="spaceText">
           
            <ul>
                
                    <p>MENU</p> 
                
                <li>
                    <a href="#goala">Our Goal</a>
                </li>
                <li>
                    <a href="#aboutus">About Us</a>
                </li>
                <li>
                    <a href="#projects">Projects</a>
                </li>
                <li>
                    <a href="#tech">Technology</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
             
            </ul>
        </div>
        <div>
            <ul>
                <p>LINKS</p>

                <li>
                    <p>Terms & Conditions</p>
                </li>
                 <li>
                    <p>Privacy Policy</p>
                </li>
            </ul>
             <ul>
                <p>FOLLOW US</p>

                <li>
                    <i class="fab fa-facebook-square fa-2x"></i><span> </span><i class="fab fa-twitter-square fa-2x"></i><span> </span><i class="fab fa-github-square fa-2x"></i>
                </li>

            </ul>
        </div>
</div>




<!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 style="color:rgba(63, 136, 197, 1)" class="modal-title" id="exampleModalCenterTitle">Sign Up</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">


             <form method="post"  action="/signup">
             <label for="name">Name:</label>
             <br>
             <input type="text" name="name" placeholder="John" >
             <br>
             <label for="lastName">Lastname:</label>
             <br>
             <input type="text" name="lastName" placeholder="Appleseed" >
             <br>
             <label for="email">Email:</label>
             <br>
             <input type="email" name="email" placeholder="john@mail.com" id="emailform125">
             <br>
             <label for="Password">Password:</label>
             <br>
             <input type="password" name="password1" placeholder="Password" >
             <p>Your password must contain at least one lowercase letter one capital letter and one number</p>
             <br>
            {{#if error}}
            <h5>{{error}}</h5>
            {{/if}}
              <label for="Password">Repeat Password:</label>
             <br>
             <input type="password" name="password2" placeholder="Password" >
             <br><br>

            <input type="submit" class="btn btn-primary" value="Submit">
             </form>
        </div>
        <div class="modal-footer">
            <a href="/auth/linkedin"> <button type="button"  class="btn btn-primary"><i class="fab fa-linkedin fa-2x"></i></i></button></a>
            <a href="/auth/google"> <button type="button"  class="btn btn-primary"><i class="fab fa-google-plus-square fa-2x"></i></button></a> 
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            
            
        </div>
        </div>
    </div>
    </div>


    <script>$('#myModal')document.getElementById("exampleModalCenter").on('shown.bs.modal', function () {
  $('#myInput')document.getElementById("emailform125").trigger('focus')
})</script>