/* Coolors Exported Palette - coolors.co/931621-3f88c5-ffffff-032b43-878787 */

/* HSL */
$color1: hsla(355%, 74%, 33%, 1);
$color2: hsla(207%, 54%, 51%, 1);
$color3: hsla(0%, 0%, 100%, 1);
$color4: hsla(203%, 91%, 14%, 1);
$color5: hsla(0%, 0%, 53%, 1);

/* RGB */
$color1: rgba(147, 22, 33, 1);
$color2: rgba(63, 136, 197, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(3, 43, 67, 1);
$color5: rgba(135, 135, 135, 1);